<h2 class="title-divider">
  <span>Planos e <span class="de-em">Preços</span></span>
  <small>Planos e preços que atendem o seu comercio</small>
</h2>
<div class="row pricing-stack pricing-stack-overlap margin-top-lg">
  <div class="col-md-4">
    <div class="well">
      <h3 class="title">
        Cortesia
      </h3>
      <p class="price"><span class="fancy">Grátis!</span></p>
      <ul class="unstyled points">
        <li>Divulgação do Endereço</li>
        <li>Divulgação do Telefone</li>
        <li>Divulgação da Logomarca</li>
      </ul>
      <a href="<%= registros_path %>" class="btn btn-primary">Assine Já</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well">
      <h3 class="title">
        Comércio <span class="fancy">Pequeno</span>
      </h3>
      <p class="price">
        <span class="currency">R$</span>
        <span class="digits">49<span>,50</span></span>
        <span class="term">/Mês</span>
      </p>
      <ul class="unstyled points">
        <li>Divulgação do Endereço</li>
        <li>Divulgação do Telefone</li>
        <li>Divulgação da Logomarca</li>
        <li>Site Completo na Internet</li>
        <li>Imagens limitadas</li>
        <li>Personalização Limitada</li>
      </ul>
      <a href="<%= registros_path %>" class="btn btn-primary">Assine Já</a>
    </div>
  </div>
    <div class="col-md-4">
    <div class="well active">
      <h3 class="title">
        <span class="em">Comércio</span> <span class="fancy">Médio</span>
      </h3>
      <p class="price">
        <span class="currency">R$</span>
        <span class="digits">75<span>,00</span></span>
        <span class="term">/Mês</span>
      </p>
      <ul class="unstyled points">
        <li>Divulgação do Endereço</li>
        <li>Divulgação do Telefone</li>
        <li>Divulgação da Logomarca</li>
        <li>Site Completo na Internet</li>
        <li>Imagens Limitadas</li>
        <li>Personalização Ilimitada</li>
        <li>Integração Com Redes Sociais</li>
      </ul>
      <a href="<%= registros_path %>" class="btn btn-primary">Assine Já</a>
    </div>
  </div>

</div>

