<div class="section-menu">
  <ul class="nav nav-list">
    <!-- <li class="nav-header">In This Section</li> -->
    <!-- <li>
      <a href="about.htm" class="first">
        About Us
        <small>Basic Version</small>
        <i class="fa fa-angle-right"></i>
      </a>
    </li> -->
    <!-- <li>
      <a href="about-extended.htm" class="first">
        About Us
        <small>Extended Version</small>
        <i class="fa fa-angle-right"></i>
      </a>
    </li> -->
    <!-- <li>
      <a href="about-me.htm" class="first">
        About Me
        <small>More About Me</small>
        <i class="fa fa-angle-right"></i>
      </a>
    </li> -->
    <!-- <li>
      <a href="team.htm">
        The Team
        <small>Team List</small>
        <i class="fa fa-angle-right"></i>
      </a>
    </li> -->
    <!-- <li>
      <a href="team-grid.htm">
        The Team
        <small>Team Grid</small>
        <i class="fa fa-angle-right"></i>
      </a>
    </li> -->
    <!-- <li>
      <a href="team-member.htm">
        Team Member
        <small>Individual Display</small>
        <i class="fa fa-angle-right"></i>
      </a>
    </li> -->
    <li class="active">
      <a href="<%= contatos_path %>">
        Contato
        <small>Fale com a gente!</small>
        <i class="fa fa-angle-right"></i>
      </a>
    </li>
  </ul>
</div>
</div>