<div class="col-md-3">
  <h3 class="title-divider">
    <span>Dúvidas?</span>
    <small>Entre em contato!</small>
  </h3>
  <p>
    <abbr title="Phone"><i class="fa fa-phone"></i></abbr>
    66 98145 3092
  </p>
  <p>
    <abbr title="Email"><i class="fa fa-envelope"></i></abbr>
    contato@campinapolis.com
  </p>
  <p>
    <abbr title="Address"><i class="fa fa-home"></i></abbr>
    Avenida Nego Carrim, 760 Campinápolis MT.
  </p>
  <form id="callback-form" action="#" class="bordered-top-medium" role="form">
    <div class="input-group">
      <label class="sr-only" for="callback-number">Seu Telefone</label>
      <input type="tel" class="form-control" id="callback-number" placeholder="Seu Telefone">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Nós te Ligamos</button>
      </span>
    </div>
  </form>
</div>
