<div class="row margin-top-large">
  <div class="col-md-7">
    <p class="lead">Nós do campinápolis.com trabalhamos com o objetivo de colocar a cidade de campinápolis na internet.</p>
    <p>Estamos fazendo isso atraves do nosso porvedor de internet urbana, rural e movel, e através do portal do comercio da cidade.</p>
    <p>o que nos guia é nosso desejo de integrar e criar serviços que atenda a as pessoas da cidade usando ferramentas modernas e explorando as diversas possibilidades que a internet proporcionar.</p>
  </div>
  <!-- Slideshow banner -->
  <div class="col-md-5">
    <!-- List Accordion -->
    <div class="panel-group panel-group-list-style" id="list-accordion">
      <div class="panel panel-default">
        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#list-accordion" href="#collapseOne" class="panel-title collapsed">Nossa Missão</a> </div>
        <div id="collapseOne" class="collapse">
          <div class="panel-body">Nossa missão é trazer o maior número possivel de boas ideias que deram certo na internet e que funcionam em grandes centros, para a cidade de campinapolis e região.<p>Ora bolas! Podemos ter nosso proprio Uber e nosso proprio Ifood.</p></div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#list-accordion" href="#collapseTwo" class="panel-title collapsed">Nosso Processo</a> </div>
        <div id="collapseTwo" class="collapse">
          <div class="panel-body">Por aqui todos nós gostamos do que fazemos e procuramos fazer da melhor maneira possivel. Não temos muita pressa, mas gostamos de bons resultados. Não ligamos pro lucro, mas nos preocupamos com a qualidade.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#list-accordion" href="#collapseThree" class="panel-title collapsed">Como Trabalhamos</a> </div>
        <div id="collapseThree" class="collapse">
          <div class="panel-body">Trabalhamos o tempo todo e de qualquer lugar. Gostamos de boas ideias e de pessoas com horizontes abertos, se você quer nos ajudar é só nos procurar que estamos sempre prontos em incluir você no time da área de sua competência.</div>
        </div>
      </div>
    </div>
  </div>
</div>
