<h3 class="title-divider margin-top-large">
  <span>Historia do<span class="de-em"> Site</span></span>
</h3>
<div class="timeline timeline-left">
  <div class="timeline-marker"></div>
  <!--Timeline item 1-->
  <div class="timeline-item timeline-item-first animated fadeIn de-02">
    <div class="timeline-item-date">Feb 2011</div>
    <h5 class="timeline-item-title">
      Company founders meet for first time
    </h5>
    <p class="timeline-item-description">Aliquip amet autem erat refoveo tation ulciscor valetudo voco vulpes.</p>
  </div>
  <!--Timeline item 2 - NOTE: .highlight class-->
  <div class="timeline-item highlight animated fadeIn de-04">
    <div class="timeline-item-date">April 2011</div>
    <h5 class="timeline-item-title">
      The company was born
    </h5>
    <p class="timeline-item-description">Aliquam facilisis importunus interdico nobis nutus patria virtus. Hendrerit persto venio.</p>
  </div>
  <!--Timeline item 3 -->
  <div class="timeline-item animated fadeIn de-06">
    <div class="timeline-item-date">Sept 2011</div>
    <h5 class="timeline-item-title">
      The company lands first major contract
    </h5>
    <p class="timeline-item-description">Commoveo gemino si tincidunt. Aliquam diam iaceo incassum lenis nobis nutus utinam vel verto.</p>
  </div>
  <!--Timeline item 4-->
  <div class="timeline-item timeline-item-last animated fadeIn de-08">
    <div class="timeline-item-date">Dec 2014</div>
    <h5 class="timeline-item-title">
      Company sold for $1 million
    </h5>
    <p class="timeline-item-description">Facilisis obruo ymo. Brevitas elit jugis lenis lucidus neo praemitto proprius si tum.</p>
  </div>
  <div class="timeline-marker timeline-marker-bottom"></div>
</div>
