<div class="title-divider margin-top-large">
  <h3>
    <span>Nosso <span class="de-em">Time</span></span>
    <small>Nosso time gente fina</small>
  </h3>
</div>
<div class="team team-grid">
  <div class="row" data-toggle="isotope-grid" data-isotope-options='{"layoutMode": "fitRows", "itemSelector": ".grid-item"}'>

    <!--Team Member jimi-->
     <div class="col-xs-6 col-sm-4 col-md-3 grid-item">
      <div class="team-member">
        <span>
          <img src="img/team/carlos_100x100.jpg" class="img-thumbnail" alt="Carlos" />
        </span>
     <h5 class="name">
          <span>Carlos</span>
        </h5>
        <p class="role">Desenvolvedor/Fundador</p>
        <div class="social-media-branding social-media-branding-xs">
          <!--@todo: replace with real social share links -->
          <!-- <a href="#" class="social-link branding-twitter"><i class="fa fa-twitter-square"></i></a> -->
          <a href="https://www.facebook.com/k43g0n" class="social-link branding-facebook"><i class="fa fa-facebook-square"></i></a>
          <!-- <a href="#" class="social-link branding-linkedin"><i class="fa fa-linkedin-square"></i></a> -->
          <!-- <a href="#" class="social-link branding-google-plus"><i class="fa fa-google-plus-square"></i></a> -->
        </div>
      </div>
    </div>

    <!--Team Member uender-->
    <div class="col-xs-6 col-sm-4 col-md-3 grid-item">
      <div class="team-member">
        <span>
          <img src="img/team/uender_100x100.jpg" class="img-thumbnail" alt="Uender" />
        </span>
        <h5 class="name">
          <span >Uender</span>
        </h5>
        <p class="role">Fundador</p>
        <div class="social-media-branding social-media-branding-xs">
          <!--@todo: replace with real social share links -->
          <!-- <a href="#" class="social-link branding-twitter"><i class="fa fa-twitter-square"></i></a> -->
          <a href="https://www.facebook.com/uenderhas" class="social-link branding-facebook"><i class="fa fa-facebook-square"></i></a>
          <!-- <a href="#" class="social-link branding-linkedin"><i class="fa fa-linkedin-square"></i></a> -->
          <!-- <a href="" class="social-link branding-google-plus"><i class="fa fa-google-plus-square"></i></a> -->
        </div>
      </div>
    </div>

    <!--Team Member adele-->
    <div class="col-xs-6 col-sm-4 col-md-3 grid-item">
      <div class="team-member">
        <span>
          <img src="img/team/eudes_100x100.jpg" class="img-thumbnail" alt="Eudes" />
        </span>
        <h5 class="name">
          <span>Eudes</span>
        </h5>
        <p class="role">Desenvolvedor/Marketing</p>
        <div class="social-media-branding social-media-branding-xs">
          <!--@todo: replace with real social share links -->
          <!-- <a href="#" class="social-link branding-twitter"><i class="fa fa-twitter-square"></i></a> -->
          <a href="https://www.facebook.com/eudes.carlosdesousa" class="social-link branding-facebook"><i class="fa fa-facebook-square"></i></a>
          <!-- <a href="#" class="social-link branding-linkedin"><i class="fa fa-linkedin-square"></i></a> -->
          <!-- <a href="#" class="social-link branding-google-plus"><i class="fa fa-google-plus-square"></i></a> -->
        </div>
      </div>
    </div>

    <!--Team Member bono-->
    <!-- <div class="col-xs-6 col-sm-4 col-md-3 grid-item"> -->
      <!-- <div class="team-member"> -->
        <!-- <span> -->
          <!-- <img src="img/team/edvaldo_100x100.jpg" class="img-thumbnail" alt="Edvaldo" /> -->
        <!-- </span> -->
        <!-- <h5 class="name"> -->
          <!-- <span>Edvaldo</span> -->
        <!-- </h5> -->
        <!-- <p class="role">Gerente - Netcel LanHouse</p> -->
        <!-- <div class="social-media-branding social-media-branding-xs"> -->
          <!--@todo: replace with real social share links -->
          <!-- <a href="#" class="social-link branding-twitter"><i class="fa fa-twitter-square"></i></a> -->
          <!-- <a href="https://www.facebook.com/edivaldo.antoniodelima" class="social-link branding-facebook"><i class="fa fa-facebook-square"></i></a> -->
          <!-- <a href="#" class="social-link branding-linkedin"><i class="fa fa-linkedin-square"></i></a> -->
          <!-- <a href="#" class="social-link branding-google-plus"><i class="fa fa-google-plus-square"></i></a> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->

  </div>
</div>
