<div class="title-divider margin-top-large">
  <h3>
    <span>Nossos <span class="de-em">Valores</span></span>
  </h3>
</div>
<div class="row">
  <div class="col-md-6">
    <!-- List Items -->
    <ul class="fa-ul list-lg">
      <li>
        <i class="fa-li fa fa-check primary-colour"></i>
        <h4>
          Inovação
        </h4>
        Estamos continuamente testando novas tecnologias. Aqui gostamos de inovar e não seguimos velhos padrões. 
      </li>
      <li>
        <i class="fa-li fa fa-check primary-colour"></i>
        <h4>
          Qualidade
        </h4>
        Não temos pressa em atingir a qualidade que esperamos.
      </li>
      <li>
        <i class="fa-li fa fa-check primary-colour"></i>
        <h4>
          Criatividade
        </h4>
        Não nos importamos em resolver o problema usando soluções alternativas.
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <!-- List Items -->
    <ul class="fa-ul list-lg">
      <li>
        <i class="fa-li fa fa-check primary-colour"></i>
        <h4>
          Transparência
        </h4>
        Estamos sempre a disposição pra esclarecer qualquer duvida e temos a intenção de
        partilhar todo nosso processo na internet.
      </li>
      <li>
        <i class="fa-li fa fa-check primary-colour"></i>
        <h4>
          Sustentabilidade
          </h4>
        Em nossas extrategias e soluções estamos sempre prontos e dispostos a incluir tecnologias renovaveis.
        </h4>
      </li>
      <li>
        <i class="fa-li fa fa-check primary-colour"></i>
        <h4>
          Paixão pelo que fazemos
        </h4>
        Aqui partilhamos da ideia de que só é possivel fazer bem feito aquilo que você sente prazer em fazer.</li>
    </ul>
  </div>
</div>
