<h1>Editing Admin Super Categoria</h1>

<%= render 'form', admin_super_categoria: @admin_super_categoria %>

<%= link_to 'Show', @admin_super_categoria %> |
<%= link_to 'Back', admin_super_categorias_path %>
