<h2 class="title-divider">
  <span>Planos e <span class="de-em">Preços</span></span>
  <small>Temos o plano ideal para o seu negocio.</small>
</h2>
<!--Stack 1: 4 in row-->
<h3>
  Escolha o Plano Ideal Para o Tamanho do Seu Negocio
</h3>
<div class="row pricing-stack margin-top-lg">
  <div class="col-md-3">
    <div class="well">
      <h3 class="title">
        Cortesia
      </h3>
      <p class="price"><span class="fancy">Grátis!</span></p>
      <ul class="unstyled points">
        <li>Divulgação do Endereço</li>
        <li>Divulgação do Telefone</li>
        <li>Divulgação da Logomarca</li>
      </ul>
      <a href="<%= registros_path %>" class="btn btn-primary">Assine Já</a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well active">
      <h3 class="title">
        <span class="em">Comércio</span> <span class="fancy">Pequeno</span>
      </h3>
      <p class="price">
        <span class="currency">R$</span>
        <span class="digits">49<span>,50</span></span>
        <span class="term">/Mês</span>
      </p>
      <ul class="unstyled points">
        <li>Divulgação do Endereço</li>
        <li>Divulgação do Telefone</li>
        <li>Divulgação da Logomarca</li>
        <li>Site Completo na Internet</li>
        <li>Imagens limitadas</li>
        <li>Personalização Limitada</li>
      </ul>
      <a href="<%= registros_path %>" class="btn btn-primary">Assine Já</a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well active">
      <h3 class="title">
        <span class="em">Comércio</span> <span class="fancy">Médio</span>
      </h3>
      <p class="price">
        <span class="currency">R$</span>
        <span class="digits">75<span>,00</span></span>
        <span class="term">/Mês</span>
      </p>
      <ul class="unstyled points">
        <li>Divulgação do Endereço</li>
        <li>Divulgação do Telefone</li>
        <li>Divulgação da Logomarca</li>
        <li>Site Completo na Internet</li>
        <li>Imagens Limitadas</li>
        <li>Personalização Ilimitada</li>
        <li>Integração Com Redes Sociais</li>
      </ul>
      <a href="<%= registros_path %>" class="btn btn-primary">Assine Já</a>
    </div>
  </div>

  <div class="col-md-3">
    <div class="well active">
      <h3 class="title">
        <span class="em">Comércio</span> <span class="fancy">Grande</span>
      </h3>
      <p class="price">
        <span class="currency">R$</span>
        <span class="digits">99<span>,00</span></span>
        <span class="term">/Mês</span>
      </p>
      <ul class="unstyled points">
        <li>Divulgação do Endereço</li>
        <li>Divulgação do Telefone</li>
        <li>Divulgação da Logomarca</li>
        <li>Site Completo na Internet</li>
        <li>Imagens Ilimitadas</li>
        <li>Personalização Ilimitada</li>
        <li>Integração Com Redes Sociais</li>
        <li>Desenvolvimento de Sitemas Internos</li>
        <li>Loja Virtual</li>
      </ul>
      <a href="<%= registros_path %>" class="btn btn-primary">Assine Já</a>
    </div>
  </div>
</div>
