<div class="well well-sm text-center">
  <h4 class="inline-el pad-right">
    <span>Todos os Planos <span class="de-em">Incluem</span>:</span>
  </h4>
  <p class="inline-el pad-left muted">Painel de Controle <span class="spacer">
    //</span> Suporte 24 Horas Pelo Telefone <span class="spacer">
    //</span> Configuração Inicial Grátis <span class="spacer">
  </p>
</div>
