<!-- ======== @Region: #content ======== -->
<div id="content">
  <div class="container">
    <div class="block">
      <!--Default Pricing Table-->
      <%= render partial: "default_pricing" %>
      <!--Stack 2: 3 in row-->
      <%-# render partial: "stack" %>
      <!--Stack 3: 4 overlapping-->
      <!-- .pricing-stack-overlap can be applied to the .pricing-stack div to apply to all items or target individual items-->
      <%-# render partial: "pricing_overlaping" %>
      <!--Stack 4: 3 overlapping-->
      <%-# render partial: "overlapping" %>
      <!--Stack 5: Compressed-->
      <!-- .pricing-stack-compressed can be applied to the .pricing-stack div to apply to all items or target individual items-->
      <!--Stack 6: Compressed & overlapping-->
      <%-# render partial: "compressed" %>
      <div class="row">
        <!-- Plan features -->
        <%= render partial: "features" %>
      </div>
    </div>
  </div>
</div>
