<!-- Button Dropdowns -->
        <!-- <h4 class="margin-top-lg">
          Categoria do Comércio
        </h4> -->
        <!-- Split button default -->
        <div class="btn-group">
          <button type="button" class="btn btn-primary">Categoria do Comércio</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> </button>
          <ul class="dropdown-menu dropdown-menu-default" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
