<a href="assets/images/gallery/image-4.jpg" data-rel="colorbox">
  <img width="150" height="150" alt="150x150" src="<%= imagem.image.url %>" />
  <div class="tags">
    <span class="label-holder">
      <span class="label label-info arrowed">fountain</span>
    </span>

    <span class="label-holder">
      <span class="label label-danger">recreation</span>
    </span>
  </div>
</a>

<div class="tools tools-top">
  <a href="#">
    <i class="ace-icon fa fa-link"></i>
  </a>

  <a href="#">
    <i class="ace-icon fa fa-paperclip"></i>
  </a>

  <a href="#">
    <i class="ace-icon fa fa-pencil"></i>
  </a>

  <a href="#">
    <i class="ace-icon fa fa-times red"></i>
  </a>
</div>
