<div class="container">
  <div class="row">
    <div class="upsell">
      <small class="muted">99.9% do tempo On-line <span class="spacer">//</span> Atualização continua <span class="spacer">//</span> Suporte 24 horas <span class="spacer">//</span> Planos iniciando em R$24.99/mês <span class="spacer">//</span> </small>
      <a href="<%= planos_path %>" class="btn btn-primary">Meu Comércio Precisa De Um Site <i class="fa fa-arrow-right"></i></a>
    </div>
  </div>
</div>
