<div class="header-hidden-inner container">
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <h3>
        Sobre nós
      </h3>
      <p>Colocamos o seu comércio na internet! Ajudamos você a estar em contato com os seus clientes!</p>
      <a href="<%= sobre_path %>" class="btn btn-sm btn-primary">Veja mais Sobre Nós</a>
    </div>
    <div class="col-sm-4 col-md-4">
      <!--@todo: replace with company contact details-->
      <h3>
        Contato
      </h3>
      <address>
        <p>
          <abbr title="Phone"><i class="fa fa-phone"></i></abbr>
          (66)98137-9977
        </p>
        <p>
          <abbr title="Email"><i class="fa fa-envelope"></i></abbr>
          contato@campinapolis.com
        </p>
        <p>
          <abbr title="Address"><i class="fa fa-home"></i></abbr>
          Avenida Alves Ferreira 500, Campinápolis-MT. CENTRO.
        </p>
      </address>
    </div>
    <div class="col-sm-4 col-md-4">
      <!--Colour Switch for demo - @todo: remove in production-->
      <div class="colour-switcher">
        <h3>
          Cores para seu Site
        </h3>
        <a href="#green" class="green active" data-toggle="tooltip" data-placement="bottom" data-original-title="Green (Default)">Green</a> <a href="#red" class="red" data-toggle="tooltip" data-placement="bottom" data-original-title="Red">Red</a> <a href="#blue" class="blue" data-toggle="tooltip" data-placement="bottom" data-original-title="Blue">Blue</a>
        <p>Desenvolvemos o site do seu comércio seguindo as cores e estilos da sua logomarca.</p>
      </div>
    </div>
  </div>
</div>
